html(ng-app="myAccountApp")
    head
        block headSection
            include ../../mainBlocks/head-section
            include ../../mainBlocks/mixins
    body
        block main
            block header-block

        block container
            .container
                .page-content
                    block before-main-block
                    block content

        block footer-block
            include ../../mainBlocks/footer