.training-agenda {
  h2.training-agenda-header {
    margin-bottom: 15px;
  }
  .list-group {
    .remove-event {
      font-size: 20px;
      margin-top: 6px;
    }
  }
}

.calendar  {
  margin-top: 20px;
  .fc-toolbar {
    h2 {
      font-family: 'Archive Font';
    }
  }

}