@import "../variables";

.fa-vk {
  color: $vk !important;
}
.fa-facebook {
  color: $facebook !important;
}
.fa-google {
  color: $googlePlus !important;
}
.fa-instagram {
  color: $instagram !important;
}

.fa-pinterest {
  color: $pinterest !important;
}

.fa-pinterest:hover {
  color: $pinterest !important;
}

.fa-twitter-square {
  color: $twitter !important;
}

.social-links {
	list-style-type: none;
	li {
		display: inline;
		font-size: 4em;
		.fa {
			color: $black;
			opacity: 0.7;
		}
		.fa:hover {
			opacity: 1;
		}
	}
}