extends layouts/pages/my-account-layout

block header-block
    include pages/myaccount/header

block container
    .container.content-wrapper
        include pages/myaccount/top-section
        include pages/myaccount/account-main

block footer
    div#footer
        .container
            span.text-muted Created by Yaroslav Zabara. Maybe I will write some info