div(ng-controller="NewTrainingController")
    include common-blocks/header
    .container.content-wrapper
        include pages/trainings/new/top-section
        include pages/trainings/new/main-block