//extends layouts/layout

div(ng-controller="ProfileController")
    block header-block
        include pages/profile/header
    block container
        .container.content-wrapper
            include pages/profile/top-section
            include pages/profile/account-main
