body {
  background-image: url("../images/workout/common/bg-white.png"); }

.content-wrapper {
  margin-top: 50px; }

.person-img {
  margin: auto;
  margin-bottom: 1em; }

.jumbotron {
  background-image: url("../images/workout/common/greyzz.png");
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.06), 0 3px 2px -1px rgba(0, 0, 0, 0.02), inset 0 -14px 8px -10px rgba(0, 0, 0, 0.05); }

.field {
  margin-bottom: 2em; }
  .field .text-muted {
    font-size: 12px; }
  .field .input-group {
    margin-bottom: 1em; }

.header-btn {
  margin-top: 24px;
  float: right; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent !important; }

.w-nav-link {
  padding: 10px; }

.hover-nav:hover {
  box-shadow: #ed1c24 0px 3px 0px 0px inset; }

.logo-text {
  margin-top: 24px;
  color: #1c1c1c;
  font-size: 27px;
  padding: 0;
  font-weight: 500; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .logo-text {
    display: none; } }

.navigation {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px; }

.sub-header-container .sub-header {
  background: url("../images/patterns/bg.png"), -webkit-gradient(linear, left center, right center, from(#2c3e50), color-stop(100%, #b84d45));
  background: url("../images/patterns/bg.png"), -webkit-linear-gradient(left, #2c3e50, #b84d45 100%);
  background: url("../images/patterns/bg.png"), -moz-linear-gradient(left, #2c3e50, #b84d45 100%);
  background: url("../images/patterns/bg.png"), -ms-linear-gradient(left, #2c3e50, #b84d45 100%);
  background: url("../images/patterns/bg.png"), -o-linear-gradient(left, #2c3e50, #b84d45 100%);
  background: url("../images/patterns/bg.png"), linear-gradient(to right, #2c3e50, #b84d45 100%);
  width: 100%;
  height: 300px;
  margin-bottom: 0; }
  .sub-header-container .sub-header .sub-header-text {
    margin-top: 100px;
    text-shadow: 0px 0px 40px #b84d45; }
.sub-header-container .sub-header-devider {
  background-color: #f0bf00;
  height: 3px; }

.social-links {
  list-style-type: none; }
  .social-links li {
    display: inline;
    font-size: 4em; }
    .social-links li .fa {
      color: #333333;
      opacity: 0.7; }
    .social-links li .fa:hover {
      opacity: 1; }
    .social-links li .fa-vk {
      color: #36638e; }
    .social-links li .fa-facebook {
      color: #3B5998; }
    .social-links li .fa-google {
      color: #d34836; }
    .social-links li .fa-instagram {
      color: #517fa4; }
    .social-links li .fa-pinterest {
      color: #cb2027; }
    .social-links li .fa-pinterest:hover {
      color: #cb2027; }
    .social-links li .fa-twitter-square {
      color: #00aced; }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

#footer {
  background-image: url("../images/workout/common/tweed.png");
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px; }

@font-face {
  font-family: 'Archive Font';
  src: url('fonts/Archive.otf');
  font-weight: normal;
  font-style: normal; }

.new-font {
  font-family: 'Archive Font'; }

.magic-word-container span {
  color: #F9BA41;
  opacity: 1;
  text-shadow: 0px 0px 2px #F9BA41, 1px 1px 4px rgba(0, 0, 0, 0.7);
  -webkit-animation: magic 0.9s linear backwards;
  -moz-animation: magic 0.9s linear backwards;
  -ms-animation: magic 0.9s linear backwards;
  animation: magic 0.9s linear backwards; }

.magic-word-container span:hover {
  text-shadow: 0px 0px 40px #F9BA41; }

/* Webkit, Chrome and Safari */
@-webkit-keyframes magic {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 100px #F9BA41; }

  90% {
    opacity: 0.9;
    text-shadow: 0px 0px 10px #F9BA41; }

  100% {
    opacity: 1;
    text-shadow: 0px 0px 2px #F9BA41, 1px 1px 4px rgba(0, 0, 0, 0.7); } }

/* W3, Opera 12+, Firefox 16+ */
@keyframes magic {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 100px #F9BA41; }

  90% {
    opacity: 0.9;
    text-shadow: 0px 0px 10px #F9BA41; }

  100% {
    opacity: 1;
    text-shadow: 0px 0px 2px #F9BA41, 1px 1px 4px rgba(0, 0, 0, 0.7); } }

/* Opera 12.0 */
@-o-keyframes magic {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 100px #F9BA41; }

  90% {
    opacity: 0.9;
    text-shadow: 0px 0px 10px #F9BA41; }

  100% {
    opacity: 1;
    text-shadow: 0px 0px 2px #F9BA41, 1px 1px 4px rgba(0, 0, 0, 0.7); } }

/* Mozilla Firefox 15 below */
@-moz-keyframes magic {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 100px #F9BA41; }

  90% {
    opacity: 0.9;
    text-shadow: 0px 0px 10px #F9BA41; }

  100% {
    opacity: 1;
    text-shadow: 0px 0px 2px #F9BA41, 1px 1px 4px rgba(0, 0, 0, 0.7); } }

.show-down {
  -webkit-animation: show-down 1s ease-out;
  -moz-animation: show-down 1s ease-out;
  -ms-animation: show-down 1s ease-out;
  animation: show-down 1s ease-out; }

/* Webkit, Chrome and Safari */
@-webkit-keyframes show-down {
  0% {
    -webkit-transform: translateY(-100%);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }

/* Mozilla Firefox 15 below */
@-moz-keyframes show-down {
  0% {
    -moz-transform: translateY(-100%);
    opacity: 0; }

  100% {
    -moz-transform: translateY(0);
    opacity: 1; } }

/* Opera 12.0 */
@-o-keyframes show-down {
  0% {
    -o-transform: translateY(-100%);
    opacity: 0; }

  100% {
    -o-transform: translateY(0);
    opacity: 1; } }

/* W3, Opera 12+, Firefox 16+ */
@keyframes show-down {
  0% {
    transform: translateY(-100%);
    opacity: 0; }

  100% {
    transform: translateY(0);
    opacity: 1; } }

.circle {
  background: #fff;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  width: 15em;
  height: 15em;
  overflow: hidden; }
  .circle h1 {
    color: #808080;
    opacity: 0.2;
    font-size: 1.6em;
    line-height: 7.5em;
    text-align: center;
    transition: color 0.8s ease-in-out; }

.circle:before, .circle:after {
  border-radius: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  box-shadow: inset 4.6em 0 0 rgba(30, 140, 209, 0.2), inset 0 4.6em 0 rgba(30, 140, 209, 0.2), inset -4.6em 0 0 rgba(30, 140, 209, 0.2), inset 0 -4.6em 0 rgba(30, 140, 209, 0.2);
  transition: box-shadow 0.75s; }

.circle:after {
  transform: rotate(45deg); }

.circle:hover:before, .circle:hover:after {
  box-shadow: inset 0.86em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.86em 0 rgba(252, 150, 0, 0.5), inset -0.86em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.86em 0 rgba(0, 150, 255, 0.5); }

.circle:hover > h1 {
  color: #333333;
  opacity: 0.5; }

.devider {
  width: 100%;
  height: 2em;
  background: -webkit-gradient(left, #b84d45, #f0bf00, #00FF00, #2c3e50);
  background: -webkit-linear-gradient(left, #b84d45, #f0bf00, #00FF00, #2c3e50);
  background: -moz-linear-gradient(left, #b84d45, #f0bf00, #00FF00, #2c3e50);
  background: -ms-linear-gradient(left, #b84d45, #f0bf00, #00FF00, #2c3e50);
  background: -o-linear-gradient(left, #b84d45, #f0bf00, #00FF00, #2c3e50);
  background: linear-gradient(left, #b84d45, #f0bf00, #00FF00, #2c3e50); }
