body {
  background-image: url("../images/workout/common/bg-white.png"); }
  body .content-wrapper {
    margin-top: 75px; }
    body .content-wrapper .jumbotron {
      padding: 10px 60px; }

.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

.person-img {
  margin: auto;
  margin-bottom: 1em; }

.field {
  margin-bottom: 2em; }
  .field .text-muted {
    font-size: 12px; }
  .field .input-group {
    margin-bottom: 1em; }

.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); }

.img-mask {
  background: url("../images/patterns/pattern.png") repeat; }

.big-image {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important; }

.jumbotron {
  background-image: url("../images/workout/common/greyzz.png");
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.06), 0 3px 2px -1px rgba(0, 0, 0, 0.02), inset 0 -14px 8px -10px rgba(0, 0, 0, 0.05); }

.navigation {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px; }
  .navigation .w-nav-link {
    padding: 10px; }
  .navigation .header-btn {
    margin-top: 24px;
    float: right; }
  .navigation .nav > li > a:hover, .navigation .nav > li > a:focus {
    background-color: transparent !important; }
  .navigation .hover-nav:hover {
    box-shadow: #ed1c24 0px 3px 0px 0px inset; }
  .navigation .logo-text {
    margin-top: 24px;
    color: #1c1c1c;
    font-size: 27px;
    padding: 0; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .logo-text {
    display: none; } }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

#footer {
  background-image: url("../images/workout/common/tweed.png");
  position: absolute;
  z-index: 25;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px; }

.fa-vk {
  color: #36638e !important; }

.fa-facebook {
  color: #3B5998 !important; }

.fa-google {
  color: #d34836 !important; }

.fa-instagram {
  color: #517fa4 !important; }

.fa-pinterest {
  color: #cb2027 !important; }

.fa-pinterest:hover {
  color: #cb2027 !important; }

.fa-twitter-square {
  color: #00aced !important; }

.social-links {
  list-style-type: none; }
  .social-links li {
    display: inline;
    font-size: 4em; }
    .social-links li .fa {
      color: #333333;
      opacity: 0.7; }
    .social-links li .fa:hover {
      opacity: 1; }

.training-agenda h2.training-agenda-header {
  margin-bottom: 15px; }
.training-agenda .list-group .remove-event {
  font-size: 20px;
  margin-top: 6px; }

.calendar {
  margin-top: 20px; }
  .calendar .fc-toolbar h2 {
    font-family: 'Archive Font'; }

@font-face {
  font-family: 'Archive Font';
  src: url('fonts/Archive.otf');
  font-weight: normal;
  font-style: normal; }

.new-font {
  font-family: 'Archive Font'; }

.login-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }
  .login-wrapper .container {
    position: relative;
    z-index: 2;
    margin-top: 15em; }
    .login-wrapper .container .login-fileds {
      margin: auto;
      width: 40%; }
      .login-wrapper .container .login-fileds .header-text {
        margin-bottom: 2em; }
        .login-wrapper .container .login-fileds .header-text h1 {
          border: 5px solid;
          text-align: center; }
      .login-wrapper .container .login-fileds .field .form-control {
        opacity: 0.7; }

.login-img {
  background: url("../images/workout/login.jpg") no-repeat center center fixed;
  opacity: 0.9;
  width: 100%;
  height: 100%; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .login-wrapper .container .login-fileds {
    margin: auto;
    width: 55%; } }

@media only screen and (max-width: 767px) {
  .login-wrapper .container .login-fileds {
    margin: auto;
    width: 75%; } }
