.row.field
    div.input-group
        span.input-group-addon
            i.fa.fa-envelope-o.fa-fw
        input.form-control(type="text",placeholder="e-mail", name="email",value="{{myAccount.email}}")
.row.field
    div.input-group
        span.input-group-addon
            i.fa.fa-unlock-alt.fa-fw
        input.form-control(type="password",placeholder="Password", name="password",value="{{myAccount.password}}")
