html(ng-app="workoutPortalApp")
    head
        base(href="/")
        block headSection
            include ../mainBlocks/head-section
            include ../mainBlocks/mixins
    body
        block main
            block header-block

        block container
            div.view-frame(ng-view)

        block footer-block
            include ../mainBlocks/footer