.navbar.navbar-fixed-top.navigation(role='navigation')
    .container
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.logo-text(href='index').new-font Workout portal
            .navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li.w-nav-link.hover-nav.new-font
                        a(href='#') General Info
                    li.w-nav-link.hover-nav.new-font
                        a(href='#') Strength
                    li.w-nav-link.hover-nav.new-font
                        a(href='#') Training Programs
                    li.w-nav-link
                        include ../../common-blocks/search-form
                    li.w-nav-link.hover-nav.new-font
                        a(href='#', ng-click="logout()") Logout