.row
    ul.social-links
        li
            a(href="#",ng-click="googleAuth()")
                i.fa.fa-google.fa-fw
        li
            a(href="#", ng-click="githubAuth()")
                i.fa.fa-github.fa-fw
        li
            a(href="#",ng-click="facebookAuth()")
                i.fa.fa-facebook.fa-fw
        li
            a(href="#")
                i.fa.fa-vk.fa-fw
        li
            a(href="#")
                i.fa.fa-pinterest.fa-fw
        li
            a(href="#")
                i.fa.fa-twitter-square.fa-fw
        li
            a(href="#")
                i.fa.fa-instagram.fa-fw